.outgoing-menu-item{
    box-sizing: border-box;
    background-color: #D9595C;
    border-style: none;
    border-color: #D9595C;
    border-width: 0.0125em;
    border-radius: 0.9375em;
  }

.outgoing-menu-item a{
    color:white;
}