/*General*/

*{padding: 0; margin: 0;}

    body{
      font-family: sans-serif;
      font-size: 16px;
    }

    /* Menu */
    .sidenav{
      height: 100%;
      width: 15.625em;
      position: fixed;
      background-color: #F2F2F2;
      left: 0;
      top: 0;
      overflow-x: hidden;
      padding-top: 1.25em;
      font-family: sans-serif;
    }

    .menu{
      padding-top: 2em;
    }

    .menu img{
      width: 15%;
      padding-right: 1.25em;
      vertical-align: middle;
    }

    .profile img{
      width: 30%;
    }

    .profile{
      padding-top: 3em;
    }

    .profile table{
      border-style: solid;
      border-collapse: collapse;
      padding-right: 100px;
    }

    .profile tr, td{
      padding-right: 100px; 
    }

    .a{
      padding: 1.0625em 0.5em 0.75em 3.125em;
      text-decoration: none;
      font-size: 1.125em;
      color: #4D4D4D;
      display: block;
    }

    .sidebar-bottom{
      position: absolute;
      top: 40em;
    }

    .sidebar-bottom a{
      text-decoration: none;
      color: black;
    }

    #log-out{
      padding-left: 5.3125em;
      color: #D9595C;
    }

    .float-container {
      /*border: 3px solid #fff;*/
      padding-top: 20px;
      padding-left: 30px;
      padding-bottom: 50px;
    }

    .icon {
        width: 25%;
        float: left;
        padding: 10px ;
        /*border: 2px solid red;*/
    }  

    .icon img{
      width: 90%;
    }

    .prof-text{
      padding-top: 17px;
      padding-left: 0px;
    }

    .prof-text b{
      color: #D9595C;
    }

    .prof-text small{
      color: #8D8D8D;
    }

    /*Header*/
    .header{
      padding-top: 40px;
      padding-left: 500px;
    }

    .header table{
      border-collapse: collapse;
    }

    .total-requested{
      padding: 5em;
      height: 30px;
      width: 110px;
      background-color: #69A2B0;
      border-style: none;
      border-radius: 21px;
      color: #3F646D;
    }

    .total-text{
      display: block; 
      float: left; 
      position: relative; 
      right: 50%;
      bottom: 200%
    }

    .total-outgoing{
      padding: 5em;
      color: #921115;
      height: 30px;
      width: 110px;
      background-color: #D9595C;
      border-style: none;
      border-radius: 21px;
    }

    .in-stock{
      padding: 5em;
      color: #43A047;
      height: 30px;
      width: 110px;
      background-color: #81C784;
      border-style: none;
      border-radius: 21px;
    }

    .total{
      padding-top: 3px;
      display: block; 
      float: left; 
      position: relative; 
      right: 50%;
      bottom: 200%
    }

    #total-requested-number{
      display: block;  
      position: relative;
      font-size: 130px;
      bottom: 260%;
      left: 20%;
    }

    .in-stock-table{
      border:none;
      position: relative;
      bottom: 150%;
      right: 50%;
    }
    .in-stock-table table{
      color: white;
    }

    .in-stock-table td{
      padding: 4px 30px 0px 2px;
    }

    .blood-type{
      font-weight: bold;
    }

    /*Overview*/
    .overview{
      color: #525252;
      padding-left: 330px;
      padding-top: 30px; 
    }

    /*Padding for title of table and Search*/
    .table-header{
      padding-top: 1.5em;
      padding-bottom: 20px;
    }


    #pick-filter{
      /*padding-left: 34.375em;*/
      position: absolute;
      right: 7em;
    }

    #dropdown{
      border-radius: 5px;
      width: 100%;
      border-color: #E0E0E0;
      padding: 6px 6px 14px 6px;
    }

    /*Table CSS*/
    table.table-content{
      border: 0.0625em solid #E0E0E0;
      border-radius: 0.25em;
      border-collapse: separate;
      border-spacing: 0;
      text-align: center;
      
    }

    table.table-content th{
       background-color: #F1F1F1;
    }

    table.table-content th:first-child {
      border-radius: 0.1875em 0 0 0;
    }

    table.table-content th:last-child {
      border-radius: 0 0.1875em 0 0;
    }

    table.table-content th:only-child{
      border-radius: 0.25em 0.25em 0 0;
    }

    table.table-content th, td {
      border-bottom: 0.0625em solid #E0E0E0;
      padding: 0.9375em;
    }

    td:not(.table-content){
      border-bottom: none;
    }

    #table-requested{
      border-bottom: 0.0625em solid #E0E0E0;
    }


    #filter{
      padding-left: 450px;
    }

    #filter button{
      width: 15%;
      height: 38px;
      padding: 5px 3px 5px 3px;
      border: 1px solid #E6ECF0;
      background-color: #E6ECF0;
      border-radius: 6px;
      color: black;
      text-align: center;
    }

    #filter button:hover {
      background-color: white;
      color: black;
    }

    #filter img{
      padding-top: 2px;
      padding-right: 10px;
      width: 15%;
    }

    .outgoing{
      color: #525252;
      padding-left: 330px;
      padding-top: 10px;
      padding-bottom: 10px; 
    }

    @media only screen and (min-width: 1920px){
      .sidenav{
        padding-top: 16em;
      }

      .sidebar-bottom{
        top: 50.5em;
      }

      .header{
        padding-left: 32%;
      }

      .overview{
        padding-left: 20%;
      }

      .outgoing{
        padding-left: 20%;
      }

      #search-box{
        right: 14em;
      }

      #filter{
        padding-left: 640px;
      }
    }

    @media only screen and (min-width: 2560px){
      .sidenav{
        padding-top: 30em;
      }

      .sidebar-bottom{
        top: 95em;
      }

      .header{
        padding-top: 10em;
        padding-left: 40%;
      }

      .overview{
        padding-left: 20%;
      }

      .outgoing{
        padding-left: 20%;
      }

      #search-box{
        right: 17em;
      }

      #filter{
        padding-left: 1100px;
      }
    }
  